@use 'src/styles/variables';

.contact {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1.25rem;
	padding: 0.5rem 0.8rem;
	background-color: var(--sub-background-color);
	border-radius: 1rem;
}

.linkList {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	list-style-type: none;
}

@media (min-width: 1024px) {
	.contact {
		margin-bottom: 2.25rem;
		padding: 1rem;
	}
}

@media (min-width: 768px) {
	.contact {
		padding: 1rem;
	}
}
